.container {
    max-width: 400px;
    min-height: 450px;
    margin: 0 auto;
    background-color: #efefef;
    box-shadow: 0 0 10px gray;
    margin-top: 50px;
    padding: 15px 50px;
}

.income {
    color: rgba(0, 150, 0, 1);
}

.expense {
    color: rgba(200, 0, 0, 1);
}

.income-li {
    border-right: 5px solid green;
}

.expense-li {
    border-right: 5px solid red;
    
}

.text-center {
    text-align: center;
}

.expense-container {
    display: flex;
    justify-content: space-around;
    text-align: center;
    background-color: white;
    box-shadow: 0 0 10px gray;
}

.transaction-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.transaction-list > li {
    position: relative;
    box-shadow: 0 0 10px gray;
    padding: 10px 15px;
    background-color: white;
    margin: 5px 0;
    border-radius: 4px;
}
.transaction-list > li > .transaction {
    display: flex;
    justify-content: space-between;
}

.transaction-form input {
    width: -webkit-fill-available;
    margin: 10px 0;
    padding: 5px 5px;
}

.del {
    position: absolute;
    background-color: lightcoral;
    top: 9px;
    left: -30px;
    color: white;
    cursor: pointer;
    opacity: 0.4;
    transition: opacity 0.3s ease;
    outline: -webkit-focus-ring-color auto 1px;
}

.del:hover {
    opacity: 1;
}